<div class="table-container">
  <div class="search-field">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input [(ngModel)]="searchQuery" (ngModelChange)="searchQueryChanged($event)" matInput />
      <mat-hint>Search</mat-hint>
    </mat-form-field>
  </div>
    <table mat-table [dataSource]="usersToDisplay" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef>Surname</th>
        <td mat-cell *matCellDef="let user">{{ user.surname }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <button mat-raised-button color="warn" (click)="deleteUser(user)">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  <mat-paginator [length]="totalUsers"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 (page)="pageChanged($event)"
  >
  </mat-paginator>

  <button mat-raised-button color="primary" (click)="createUser()">Create user</button>
</div>
