<div class="container">
  <div [formGroup]="authForm">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
        <mat-hint>Provide your email</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput />
        <mat-hint>Provide your password</mat-hint>
      </mat-form-field>
    </div>
    <div class="auth-btn">
      <button  (click)="login()" mat-raised-button color="primary">
        Login
      </button>
    </div>
    <div class="auth-btn">
      <button (click)="register()" mat-raised-button color="primary">
        Sign up
      </button>
    </div>
  </div>
</div>
