<div class="container">
  <div [formGroup]="userForm">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
        <mat-hint>Provide your name</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Surname</mat-label>
        <input formControlName="surname" matInput />
        <mat-hint>Provide your surname</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
        <mat-hint>Provide your email</mat-hint>
      </mat-form-field>
    </div>
    <button color="primary" (click)="createUser()" mat-raised-button>
      Create
    </button>
  </div>
</div>
